<form action ='/addfriend' method = 'POST' name = 'addfriendform' id = 'addfriendform' style="text-align: center;">
    <div>
        <div class="left" style = "width: 40%;float: left;text-align: right;">
            <label for ="addfriendfname">First Name</label><br><br>
            <label for ="addfriendlname">Last Name  </label><br>
        </div>
        <div class="right"style = "width: 60%;float: right;text-align: left;">
            <input type='text' id = 'addfriendfname' name = 'addfriendfname' style = "width: 33.33333%;"><br><br>
            <input type='text' id = 'addfriendlname' name = 'addfriendlname' style = "width: 33.33333%;"><br><br>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <input type='submit' id = 'submit' value = 'Submit ' style = 'align-self: center;'>
</form>
